<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        {{!-- <title>{{title}}</title> --}}
        <link rel="stylesheet" href="/css/style.css">
        <link rel='icon' href="/img/icon-rainy.png">
        {{!-- <script src="/js/defaultPlace.js"></script> --}}
    </head>

    <body>
        <div class="main-content">
            {{!-- {{>header}} --}}
            
            {{!-- {{>titleMenu}} --}}

            {{!-- {{>titleHead}} --}}

            {{!-- <p>Ищем погоду в <strong>{{weather.timezone}}</strong></p>
            <p>   - <b>{{weather.latitude}}<sup>o</sup></b> северной широты</p>
            <p>   - <b>{{weather.longitude}}<sup>o</sup></b> восточной долготы</p>
            <p>{{weather.dailySummary}}</p>
            <p>Сегодня <b><i>{{date}}</i></b> - {{weather.currentlySummary}}</p>
            <p>Вероятность осадков - <b><i>{{weather.rainProbability}}%</i></b></p>
            <p>Температура воздуха - <b><i>{{weather.temperature}}<sup>o</sup></i></b> по Цельсию</p>
            <p>Скорость ветра - <b><i>{{weather.windSpeed}}</i></b> км/ч</p> --}}
        </div>
        
        {{!-- {{>footer}}         --}}
 
    </body>



</html>