<!DOCTYPE html>
<html>
    
    {{>head}}

    {{>header}}
        
    <body>
        {{>titleMenu}}

        {{>titleHead}}
        
        <p>Ищем погоду в <strong>{{weather.timezone}}</strong></p>
        <pre>   - <b>{{weather.latitude}}<sup>o</sup></b> северной широты</pre>
        <pre>   - <b>{{weather.longitude}}<sup>o</sup></b> восточной долготы</pre>
        <p>{{weather.dailySummary}}</p>
        <p>Сегодня <b><i>{{date}}</i></b> - {{weather.currentlySummary}}</p>
        <p>Вероятность осадков - <b><i>{{weather.rainProbability}}%</i></b></p>
        <p>Температура воздуха - <b><i>{{weather.temperature}}<sup>o</sup></i></b> по Цельсию</p>
        <p>Скорость ветра - <b><i>{{weather.windSpeed}}</i></b> км/ч</p>
    </body>

    {{>footer}}

</html>