<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <header>
        <a href = '/'>На главную</a>
        <a href = '/help'>Помощь</a>
    </header>

    <body>
        <h1>{{title}}</h1>
        <p><img src="/img/mind.jpg"></p>
        <p>Мы - крутая команда, не знающая преград</p>

       
        
    </body> 

   <footer>
        <p>Поиск погоды по данным с сервиса <a href="{{source.weather}}">{{source.weather}}</a><br>
        Координаты для погоды определяются по месту положения при помощи сервиса <a href="{{source.location}}">{{source.location}}"</a></p>
        <p>Created by <a href={{owner.mail}}>{{owner.name}}</a></p>
    </footer>
     
</html>