<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}} </title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <header>
        <a href = '/'>На главную</a>
        <a href = '/help'>Помощь</a>
        <a href = '/about'>О нас</a>
    </header>
    
    <body>
        <h1>{{title}}</h1>
        <p>Ищем погоду в <strong>{{weather.timezone}}</strong></p>
        <pre>   - <b>{{weather.latitude}}<sup>o</sup></b> северной широты</pre>
        <pre>   - <b>{{weather.longitude}}<sup>o</sup></b> восточной долготы</pre>
        <p>{{weather.dailySummary}}</p>
        <p>Сегодня <b><i>{{date}}</i></b> - {{weather.currentlySummary}}</p>
        <p>Вероятность осадков - <b><i>{{weather.rainProbability}}%</i></b></p>
        <p>Температура воздуха - <b><i>{{weather.temperature}}<sup>o</sup></i></b> по Цельсию</p>
        <p>Скорость ветра - <b><i>{{weather.windSpeed}}</i></b> км/ч</p>
    </body>

    <footer>
        <p>Поиск погоды по данным с сервиса <a href="{{source.weather}}">{{source.weather}}</a><br>
        Координаты для погоды определяются по месту положения при помощи сервиса <a href="{{source.location}}">{{source.location}}"</a></p>
        <p>Created by <a href={{owner.mail}}>{{owner.name}}</a></p>
    </footer>

</html>